.flag-input-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #fff;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  margin-bottom: 0;
}

.input-container.flag-input-container > input {
  border-radius: 0 3px 3px 0;
  border-left: 0;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

.input-container.flag-input-container > input:hover {
  border: 1px solid #b9b9b9;
}

.input-container.flag-input-container > input:focus {
  border: 1px solid;
}