.phone-input-container {
  margin: 0;
}

.text-input-container > input {
  background-color: #fff;
  line-height: 20px;
  vertical-align: middle;
  padding: 6px 8px;
  color: #222;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 3px 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  background-repeat: no-repeat;
  background-position: right 8px center;
  outline: none;
}

.text-input-container >input:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
}

.text-input-container > label {
  margin-bottom: 3px;
}

.text-input-container > p {
  // max-width: 470px;
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: #767676;
}

.one-line > div > .text-input-container {
  flex: 1;
}

.one-line > div > .text-input-container:not(:first-child) {
  margin-left: 10px;
}
