.flag-container {
  position: relative;
}

.one-line > div > .input-container {
  flex: 1;
}

.one-line {
  width: 75%;
}

.one-line > div > .input-container:not(:first-child) {
  margin-left: 10px;
}

fieldset > legend {
  font-weight: bold;
}

.one-line > div {
  display: flex;
  flex-direction: row;
}