html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, span, h2,
h3, h4, h5, h6, p, form, fieldset, label, input, textarea,
button, article, footer, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 box-sizing: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
 line-height: inherit;
}

html {
  line-height: 1.5;
}

body {
  box-sizing: content-box;
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 24px;
  color: #333;
  font-weight: normal;
}

a {
  color: #4078c0;
}

.hidden {
  display: none;
}
